/* General style for all divs, making them circular */
div {
  border: 20px solid #000; /* Black border, will be partially overridden */
  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

/* Styling each layer of the rainbow */
#red {
  border-top-color: #FF0000; /* Red */
}

#orange {
  border-top-color: #FFA500; /* Orange */
}

#yellow {
  border-top-color: #FFFF00; /* Yellow */
}

#green {
  border-top-color: #008000; /* Green */
}

#blue {
  border-top-color: #0000FF; /* Blue */
}

#indigo {
  border-top-color: #4B0082; /* Indigo */
}

#violet {
  border-top-color: #EE82EE; /* Violet */
}
